<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>        
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/29096691">Junior Java Developer (Разработка решения Data Aggregation Platform)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://simferopol.hh.ru/vacancy/28718193">Junior Java-разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary">40 000-60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://simferopol.hh.ru/vacancy/28976004">Java Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ANCOR FinTech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047581">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BTlabs</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047439">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047581">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BTlabs</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047439">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>